{% extends "basehome/base.html" %}
{% block title %}Create Advertisement{% endblock %}
{% load static %}
{% block content %}
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">

<div class="bg-gray-100 p-10 sm:ml-64 mt-12 overflow-y-auto max-h-screen"> 
    <div class="w-full h-screen bg-gray-100">

    <h1 class="text-3xl font-bold mb-4">Create Advertisement</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Create
        </button>
    </form>
</div>
</div>


<div id="loading-spinner" class="hidden fixed inset-0 flex items-center justify-center bg-gray-100 bg-opacity-75 z-50">
    <div class="loader"></div>
  </div>
  
  <style>
    .loader {
      border: 8px solid #f3f3f3;
      border-radius: 50%;
      border-top: 8px solid #3498db;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      color: #3498db;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
  
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  
   
  </style>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form');
      const loadingSpinner = document.getElementById('loading-spinner');
  
      form.addEventListener('submit', function () {
        loadingSpinner.classList.remove('hidden');
      });
    });
  </script>
   
{% endblock %}
