{% extends 'basehome/base.html' %}
{% block title %}Customize {% endblock %}

{% block content %}

{% load static %}
<link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">
<body class="overflow-hidden">
<div class="bg-gray-100 p-10 sm:ml-64 mt-12 overflow-y-auto max-h-screen">
  <div class="w-full h-screen bg-gray-100">
  <div class="p-4  mx-auto p-8 mt-10  rounded-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">Customize your Short URL</h1>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="inline-flex items-center py-2.5 px-6 ms-3 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Create Custom Short URL
      </button>
    </form>

    {% if short_url and qr_code %}
    <div class="flex mt-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 p-6">
      <div class="flex-shrink-0">
          <h2 class="text-xl font-bold mb-2">QR Code</h2>
          <img src="data:image/jpeg;base64,{{ qr_code }}" alt="QR Code" class="w-40 h-40 object-cover rounded-md">
          <a href="data:image/jpeg;base64,{{ qr_code|safe }}" download="qr_code.jpg" class="mt-4 inline-block">
              
          </a>
      </div>
      <div class="flex-grow ml-6">
          <h2 class="text-xl font-bold mb-2">Your Customized Short URL</h2>
          <p class="mb-4">Short URL: 
              <a href="http://127.0.0.1:8000/{{ short_url.short_code }}" class="text-blue-500 hover:underline">
                  http://127.0.0.1:8000/{{ short_url.short_code }}
              </a>
              <button onclick="copyToClipboard('http://127.0.0.1:8000/{{ short_url.short_code }}')" class="text-blue-700 hover:underline ml-2">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 5h6m-6 4h6M10 3v4h4V3h-4Z"/>
                  </svg>
              </button>
          </p>
          <button class="mt-16 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Download QR Code
            <svg class="w-6 h-6 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
            </svg>
        </button>
      </div>
  </div>
  
    {% endif %}
    <br>
    <a href="{% url 'userdashboard' %}" class="text-blue-500 hover:underline">
      Back to Dashboard
    </a>
  </div>
  <br>
  <br>
</div>
</div>


<div id="loading-spinner" class="hidden fixed inset-0 flex items-center justify-center bg-gray-100 bg-opacity-75 z-50">
  <div class="loader"></div>
</div>

<style>
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    color: #3498db;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 
</style>

</body>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    const loadingSpinner = document.getElementById('loading-spinner');

    form.addEventListener('submit', function () {
      loadingSpinner.classList.remove('hidden');
    });
  });
</script>
{% endblock %}
